<div class="col">
    <div class="card h-100">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ project.image }}" class="img-fluid rounded-start" alt="{{ project.title }}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description }}</p>
            <a href="{{ project.permalink }}" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>